@{
    Layout = null;
}

<!DOCTYPE html>

<!--[if IE 7]>    <html class="ie7" > <![endif]-->
<!--[if IE 8]>    <html class="ie8" > <![endif]-->
<!--[if IE 9]>    <html class="ie9" > <![endif]-->
<!--[if IE 9]>    <html class="ie10" > <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en-US">
 <!--<![endif]-->
<head>
    <!-- META TAGS -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Title -->
    <title>航班展示</title>
    <!-- Style Sheet-->
    <!--     <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link href="@Url.Content("~/Content/style.css")" rel='stylesheet'>
    <link href="@Url.Content("~/Content/css/bootstrap.css")" rel='stylesheet'>
    <link href="@Url.Content("~/Content/responsive.css")" rel='stylesheet'>
    <link href="@Url.Content("~/Content/flexslider.css")" rel='stylesheet'>
    <link href="@Url.Content("~/Content/image.css")" rel='stylesheet'>
    <!--页面加载start-->
    <link rel="stylesheet" type="text/css" href="~/Content/loader.css">
    <!-- favicon -->
    <link rel="shortcut icon" href="@Url.Content("~/images/favicon.png")">
    @* 信息提示框样式文件 *@
    <link href="../../Content/sweetalert2.css" rel="stylesheet" />
    <!-- 选择框的样式文件 -->
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" href="css/ie.css">
    <![endif]-->
</head>
<body>

    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
        <div class="load_title">正在为您拼命加载航班信息</div>
    </div>
    <!--页面加载end-->

    @Html.Partial("~/Views/pageModel/header.cshtml");

    <!-- Grid page -->
    <div class="content" style="min-height:800px;margin-bottom:0px;">
        <div class="container">
            <div class="row">
                <!-- slider -->
                <div class="span3 left_content" style="padding-top: 150.444px;">
                    <!-- 宣传语 -->
                    <div class="col-md-12" style="background-color:#fff;border-radius:5px;padding:0px;">
                        <div class="col-md-12" style="padding-top:16px;">
                            <span style="font-family:Microsoft Yahei;font-size:18px;font-weight:400;color:#333;">全程预订保障&nbsp;&nbsp;</span>
                            <span style="font-family:Microsoft Yahei;font-size:18px;font-weight:400;color:#333;">&nbsp;&nbsp;到哪里都放心</span>
                        </div>
                        <div class="col-md-12" style="padding-top:15px;">
                            <div class="col-md-2">
                                <div style="width:50px;height:50px;border-radius:50px;border: solid 3px #e1e1e1;text-align: center;vertical-align:middle;">
                                    <img src="~/img/ticket.png" style="width:45px; height:45px;vertical-align: middle;" />
                                    <span style="height: 100%;vertical-align: middle;display: inline-block;"></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div style="width:50px;height:50px;border-radius:50px;border: solid 3px #e1e1e1;text-align: center;vertical-align:middle;">
                                    <img src="~/img/plane.png" style="width:35px; height:35px;vertical-align: middle;" />
                                    <span style="height: 100%;vertical-align: middle;display: inline-block;"></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div style="width:50px;height:50px;border-radius:50px;border: solid 3px #e1e1e1;text-align: center;vertical-align:middle;">
                                    <img src="~/img/rmb.png" style="width:35px; height:35px;vertical-align: middle;" />
                                    <span style="height: 100%;vertical-align: middle;display: inline-block;"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="padding-top:15px;">
                            <div class="col-md-2">
                                <div style="width:50px;height:50px;text-align: center;vertical-align:middle;font-size:12px;color:#0088cc;">
                                出票保障
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div style="width:50px;height:50px;text-align: center;vertical-align:middle;font-size:12px;color:#0088cc;">
                                出行保障
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div style="width:50px;height:50px;text-align: center;vertical-align:middle;font-size:12px;color:#0088cc;">
                                退款保障
                                </div>
                            </div>
                        </div>
                        <div class="col-md-11" style="color:rgb(136, 136, 136);padding-bottom:16px;">
                            不适用于航司官网跳转、预约机票产品
                        </div>
                    </div>
                    <!-- 低价航线推荐 -->
                    <div class="col-md-12" style="background-color:#fff;border-radius:5px;padding:0px;margin-top:10px;">
                        <div class="col-lg-11" style="padding-top:10px;">
                            <h3 style="font-family:Microsoft Yahei;color:rgb(51, 51, 51);font-size:16px;margin-bottom:5px;">
                                低价航线推荐
                            </h3>
                            <p style="font-family:Microsoft Yahei;font-size:12px;">
                                价格实时变动，以预订价格为准
                            </p>
                            <div class="col-md-8 col-md-offset-1" style="border-bottom:solid 1px rgb(207, 207, 207);"></div>
                        </div>
                        <div class="col-md-12" style="margin-top:10px;">
                            <a href="/Flight/Index">
                            <div class="col-md-8" style="padding-left:0px;">
                                <p style="font-family:Microsoft Yahei;color:rgb(51, 51, 51);font-size:16px;">
                                天津<img src="~/img/single.png" style="width:20px;height:20px;"/> 成都
                                </p>
                                <span style="color:rgb(85, 85, 85);">05-29&nbsp;周二</span>
                            </div>
                            <div class="col-md-2" style="color:rgb(255, 130, 5);padding-left:10px;">
                                ￥210
                            </div>
                            <div class="col-md-8 col-md-offset-1" style="border-bottom:solid 1px rgb(207, 207, 207);"></div>
                            </a>
                       </div>
                    </div>
                </div>
                <!-- slider end -->
                <div class="span9 right_content" style="padding-top:0px;">
                    <!-- fliter -->
                    <div class="row" style="padding:40px 17px 10px 30px;">
                        <div class="panel panel-primary" style="margin-bottom:0px;">
                            <div class="panel-heading">航班筛选</div>
                            <div class="panel-body">
                                <!-- 起飞时间 -->
                                <select id="flight-time" multiple></select>
                                <!-- 航空公司 -->
                                <select id="company" multiple></select>
                                <!-- 机型 -->
                                <select id="plane-type" multiple>
                                    <option value="中型机">中型机</option>
                                    <option value="大型机">大型机</option>
                                </select>
                                <!-- 起飞时间排序 -->
                                <select id="time-sort">
                                    <option value="1">升序</option>
                                    <option value="2">降序</option>
                                </select>
                                <!-- 价格排序 -->
                                <select id="plane-sort">
                                    <option value="1">升序</option>
                                    <option value="2">降序</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- slider end -->

                    <div id="project-container" class="row travel_lest" style="min-height:570px;">
                        @Html.Partial("~/Views/pageModel/flight_template.cshtml");
                    </div>

                    <span class="border"></span>

                    <div id="page-control" class="pagination clearfix">
                        <p>页面<a href="#"> {{currentpage}} </a>总页数   <a href="#">{{totalpage}}</a></p>
                        <div class="errows">
                            <a id="prev-page" class="left_errow" v-on:click="pageReturn()"></a>
                            <a id="next-page" class="right_errow" v-on:click="pageTurn()"></a>
                        </div>
                    </div>
                </div>
                <!-- End by sort -->
            </div>
        </div>
    </div>
    <!-- Grid page -->
    @Html.Partial("~/Views/pageModel/footer.cshtml");

    @* 页面所需的js文件 *@
    <script src="@Url.Content("~/Scripts/jquery-1.11.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <!-- 用于选择框 -->
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    @* 信息提示框 *@
    <script src="../../Scripts/sweetalert2.min.js"></script>
    <script src="@Url.Content("~/Scripts/flight.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.flexslider.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.flexslider-min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.elastislide.js")"></script>
    <script src="@Url.Content("~/Scripts/jcarousellite_1.0.1.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.cycle.all.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.isotope.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.tinyscrollbar.min.js")"></script>
    <!-- 用于置顶的插件 -->
    <script src="@Url.Content("~/Scripts/jquery.scrollUp.min.js")"></script>
    <script src="@Url.Content("~/Scripts/custom.js")"></script>
    <!-- 用于地址解析 -->
    <script src="@Url.Content("~/Scripts/jQuery.URL.Parse.js")"></script>
    <script src="@Url.Content("~/Scripts/Vue.js")"></script>
    <script src="@Url.Content("~/Scripts/Vue.min.js")"></script>
    <script src="@Url.Content("~/Scripts/flight_vue.js")"></script>
</body>
</html>
