@{
    Layout = null;
}

@using planeTicketBooking.Models;
@Model FlightListModels;

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>航班信息管理</title>
    <!-- Favicon-->
    <link rel="icon" href="../../Images/favicon.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="../../Content/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="../../Content/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="../../Content/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- JQuery DataTable Css -->
    <link href="../../Content/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet">

    <!-- Custom Css -->
    <link href="../../Content/css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="../../Content/css/themes/all-themes.css" rel="stylesheet" />

    @* 信息提示框样式文件 *@
    <link href="../../Content/sweetalert2.css" rel="stylesheet" />

    @* 城市选择插件 *@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/hzw-city-picker.css")">
</head>

<!-- 新增按钮 模态框 started -->
<div class="modal fade" id="newFlight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="newFlight">新增航班信息</h4>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="form-line">
                                <input id="addFlight_id" type="text" class="form-control" placeholder="航班ID" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-line">
                                <input id="addDetailflight_id" type="text" class="form-control" placeholder="ID1" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-line">
                                <input id="addFlight_num" type="text" class="form-control" placeholder="航班号" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-line">
                                <input id="addFlight_departuretime" type="text" class="form-control" placeholder="出发时间" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-line">
                                <input id="addFlight_arrivetime" type="text" class="form-control" placeholder="到达时间" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-line">
                                <input id="addFlight_departureCity" class="form-control" type="text" name="localtion" placeholder="出发城市" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-line">
                                <input id="addFlight_arriveCity" class="form-control" type="text" name="localtion" placeholder="到达城市" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-line">
                                <input id="addFlight_companyName" type="text" class="form-control" placeholder="公司名称" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="addCancelBtn" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button id="addSureBtn" type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- #end# 新增按钮 模态框 -->
<!-- 修改按钮 模态框 started -->
<div class="modal fade" id="changeFlight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="changeFlight">修改航班信息</h4>
            </div>
            <div class="modal-body">
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="changeFlight_ID" class="col-sm-2 control-label">航班ID</label>
                            <div class="form-line">
                                <input id="changeFlight_ID" type="text" class="form-control" disabled />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="changeDetailflight_ID" class="col-sm-2 control-label">ID1</label>
                            <div class="form-line">
                                <input id="changeDetailflight_ID" type="text" class="form-control" disabled />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="changeFlight_Num" class="col-sm-2 control-label">航班号</label>
                            <div class="form-line">
                                <input id="changeFlight_Num" type="text" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="changeFlight_Departuretime" class="col-sm-2 control-label">出发时间</label>
                            <div class="form-line">
                                <input id="changeFlight_Departuretime" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="changeFlight_Arrivetime" class="col-sm-2 control-label">到达时间</label>
                            <div class="form-line">
                                <input id="changeFlight_Arrivetime" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="changeFlight_DepartureCity" class="col-sm-2 control-label">出发城市</label>
                            <div class="form-line">
                                <input id="changeFlight_DepartureCity" class="form-control" type="text" name="localtion" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="changeFlight_ArriveCity" class="col-sm-2 control-label">到达城市</label>
                            <div class="form-line">
                                <input id="changeFlight_ArriveCity" class="form-control" type="text" name="localtion" disabled />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="changeFlight_CompanyName" class="col-sm-2 control-label">公司名称</label>
                            <div class="form-line">
                                <input id="changeFlight_CompanyName" type="text" class="form-control" disabled />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="changeCancelBtn" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button id="changeFlightSureBtn" type="button" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
<!-- #end# 修改按钮 模态框 -->



<body class="theme-indigo">
    @Html.Partial("~/Views/pageModel/topbar.cshtml");
    <section>
        @Html.Partial("~/Views/pageModel/leftbar.cshtml");
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>
                    航班信息管理
                </h2>
            </div>
            <!-- 航班信息展示 表格 start -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header" style="padding-bottom: 40px;">
                            <div class="col-md-6">
                                <h2>
                                    航班信息展示
                                </h2>
                            </div>
                            <div class="col-md-1 col-md-offset-5">
                                <button type="button" class="btn btn-primary waves-effect" data-toggle="modal" data-target="#newFlight">
                                    添加
                                </button>
                            </div>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table id="FlightMsgTable" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                    <thead>
                                        <tr>
                                            <th>航班ID</th>
                                            <th>ID1</th>
                                            <th>航班号</th>
                                            <th>出发时间</th>
                                            <th>到达时间</th>
                                            <th>出发城市</th>
                                            <th>到达城市</th>
                                            <th>公司名称</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>航班ID</th>
                                            <th>ID1</th>
                                            <th>航班号</th>
                                            <th>出发时间</th>
                                            <th>到达时间</th>
                                            <th>出发城市</th>
                                            <th>到达城市</th>
                                            <th>公司名称</th>
                                            <th>操作</th>
                                        </tr>
                                    </tfoot>
                                    <tbody id="flight_message">
                                        @foreach (FlightModels item in Model.FlightModelsArray)
                                        {
                                            <tr>
                                                <td>@item.Flight_id</td>
                                                <td>@item.detail_airlineid</td>
                                                <td>@item.Flight_num</td>
                                                <td>@item.Departure_time</td>
                                                <td>@item.Arrive_time</td>
                                                <td>@item.Departure_city</td>
                                                <td>@item.Arrive_city</td>
                                                <td>@item.FlightCompany_name</td>
                                                <td>
                                                    <div class="col-md-1 col-md-offset-1">
                                                        <!--此处用于获取当前的航班信息-->
                                                        <button onclick='change("@item.Flight_id.ToString()","@item.detail_airlineid.ToString()","@item.Flight_num.ToString()","@item.Departure_time.ToString()", "@item.Arrive_time.ToString()","@item.Departure_city.ToString()","@item.Arrive_city.ToString()", "@item.FlightCompany_name.ToString()")' type="button" class="btn btn-default waves-effect" data-toggle="modal" data-target="#changeFlight">
                                                            修改
                                                        </button>
                                                        <button onclick='Delete(@item.detail_airlineid)' type="button" class="btn btn-primary waves-effect">
                                                            删除
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# 航班信息展示 表格 -->
        </div>
    </section>

    <!-- Jquery Core Js -->
    <script src="../../Content/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="../../Content/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="../../Content/plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="../../Content/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="../../Content/plugins/node-waves/waves.js"></script>

    @* 信息提示框 *@
    <script src="../../Scripts/sweetalert2.min.js"></script>

    <!-- Jquery DataTable Plugin Js -->
    <script src="../../Content/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="../../Content/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="../../Content/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="../../Content/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="../../Content/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="../../Content/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="../../Content/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="../../Content/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="../../Content/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>

    <!-- 实现城市选择 -->
    <script src="@Url.Content("~/Scripts/city-data.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/hzw-city-picker.min.js")"></script>


    @* 用于添加、修改、删除按钮的JS文件和DataTable的中文化 *@
    <script src="../../Scripts/adminjs/flightinfo.js"></script>

    <!-- Custom Js -->
    <script src="../../Scripts/adminjs/admin.js"></script>
    <script src="../../Scripts/adminjs/pages/tables/jquery-datatable.js"></script>

    <!-- Demo Js -->
    <script src="../../Scripts/adminjs/demo.js"></script>
</body>

</html>